<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="New_DIrection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <New_DIrection.Properties.Settings>
            <setting name="UniW" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="UniH" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="Seed" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Interval" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="GridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="CellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="Grid10Color" serializeAs="String">
                <value>Black</value>
            </setting>
        </New_DIrection.Properties.Settings>
    </userSettings>
</configuration>